body {
    padding: 50px;
    background-color: #FFFFFF;
    font-family: sans-serif;
    margin-bottom: 10px;
}

.invisibleButton {
    background-color: #FFFFFF;
    border: #76CBE0;
    color: #FFFFFF;
    background-color: #FFFFFF;
    font-size: 18px;
    margin: 30px;
    border: 2px solid #FFFFFF;
    cursor: pointer;
    padding: 10px;
}

.visibleButton {
    background-color: #76CBE0;
    border: #76CBE0;
    color: #000;
    background-color: #76CBE0;
    font-size: 18px;
    margin: 30px;
    border: 2px solid #000;
    cursor: pointer;
    padding: 10px;
}

.theBorderClear {
    border: 3px solid #FFFFFF
}

.theBorder {
    border: 3px solid #f15b2a;
}

input {
    border: 2px solid #FFF;
    width: 160px;
    background-color: #E5E5E5;
}

li {
    color: #333;
    font-size: 16px;
    border: 2px solid #FFF;
    width: 155px;
    background-color: #E5E5E5;
    list-style: none;
    width: 200px;
    border-radius: 5px;
    transition: background-color .2s ease-out;
}

li:hover {
    background-color: #F15B2A;
    cursor: pointer;
}

form button {
    background-color: #76CBE0;
    color: #000;
}
form button:hover {
    background-color: #1f778d;
    border: 2px solid #000;
    cursor: pointer;
}
li {

}
