/* styles.css */

/* General styling for the list and button */
body {
  background-color: #f5f5f5;
  font-family: "Helvetica Neue", Arial, sans-serif;
  margin: 20px;
  padding: 0;
  color: #333;
}

h1 {
  text-align: left;
  color: #00A3FF;
  margin-bottom: 1.5rem;
  font-size: 2.0rem;
  font-weight: bold;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #ffffff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  //width: 200px;
}

button {
  background-color: #00A3FF;
  border: none;
  border-radius: 0.25rem;
  color: white;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  transition:
          background-color 0.3s,
          transform 0.1s,
          opacity 0.5s;
}

button:hover {
  background-color: #00A3FF;
  transform: scale(1.05);
}

button:active {
  background-color: #00A3FF;
  transform: scale(0.95);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2);
}

/* Styling for the table */
table {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
  background-color: #ffffff;
  border: 1px solid #dee2e6;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  overflow: hidden;
}

table thead {
  background-color: #00A3FF;
  color: white;
}

table th,
table td {
  padding: 0.75rem;
  text-align: left;
  border-bottom: 1px solid #dee2e6;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Animation for adding rows */
.fade-in {
  animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.add-more-row {
  height: 54px; /* Ensure the row height matches other rows */
}

.move-down .add-more-row {
  animation: moveDown 0.5s ease-in-out forwards;
}

@keyframes moveDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(54px); /* Adjust this value to match the row height */
  }
}

button.fade-out {
  animation: fadeOut 0.5s ease-in-out forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Style for disabled button */
button:disabled {
  background-color: gray; /* Set background color to gray when disabled */
}

/* Styling for the dropdown */
select {
  padding: 0.5rem 1rem;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  background-color: #fff;
  width: 150px; /* Set width of the select */
  font-size: 1rem; /* Set font size */
  font-weight: normal; /* Set font weight */
  font-family: 'Helvetica, Arial, sans-serif'; /* Set font family */
  color: #333; /* Set color of the select text */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a box shadow */
  position: relative; /* Add position: relative to the select */
}

/* Add a down arrow icon to the dropdown */
select::-ms-expand {
  display: none;
}

select::-ms-value {
  background-color: transparent;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

select::placeholder {
  color: #999;
}

/* Add some hover and focus states */
select:hover {
  border-color: #00A3FF;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

select:focus {
  outline: none;
  border-color: #00A3FF;
  box-shadow: 0 0 0 3px rgba(62, 149, 205, 0.2);
}

/* Option styling */
select option {
  color: #333; /* Set color of the option text */
  background-color: #fff; /* Set background color of the option */
}

/* Down arrow indicator */
select::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px; /* Adjust horizontal position as needed */
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid #333; /* Adjust color as needed */
}

/* Add a light background to the arrow on hover */
select:hover::after {
  border-top-color: #666; /* Adjust color as needed */
}

/*  Styles for Positioning */
.container {
  display: flex;
  marginTop: '0'; /*  <-- Remove the marginTop here */
  padding: '20px';
}

.column-left {
  width: 30%;
  marginRight: '20px';
  display: 'flex';
  flex-direction: 'column';
}

.column-right {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*h1 {*/
/*  position: fixed;*/
/*  top: 0;*/
/*  width: 100%;*/
/*  background-color: #f8f9fa;*/
/*  padding: 1rem 0;*/
/*  margin: 0;*/
/*  z-index: 10;*/
/*  text-align: center;*/
/*  font-size: 1.5rem;*/
/*}*/